:root {
  --cor-primaria: #2E3C50;
  --verde: #9AE19A;
  --cinza: #838282;
  --branco: #FFFFFF;
  --fundo: #D5CDCD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}